<div class="background-container">
        <div class="content">
            <p class="day">{{currentDay}}</p>
            <p class="date">{{currentDate}}</p>
            <div class="nav-bar">
                <a (click)="openModal()"><i class="bi bi-plus-circle-fill"></i></a>
                <a routerLink="add-task"><i class="bi bi-journal-text"></i></a>
                <a routerLink="add-task"><i class="bi bi-graph-up-arrow"></i></a>
                <a routerLink="add-task"><i class="bi bi-stopwatch"></i></a>
            </div>
        </div>
    </div>
