.modal-body{
    background-color: #343434;
    
}
.modal-header {background-color:  #343434 ;
    color: white;
    text-transform: uppercase ;
    border-color: transparent;

}
.modal-footer{background-color: #343434;
    border-color: black;
}
.form-control{
    background-color: lightgrey;
}
.btn-close{
    border: none;
    box-shadow: none;
}